<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>光影斑斓-你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" >首页</a></li>
			<li><a href="/life"  title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" class="on" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="/circle" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="message" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">她们都老了吧，她们在哪里呀</a></h2>
						<h4 class="mumit_list_time">2013年3月24日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/06.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">摄影</a><a href="">心情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:光影斑斓 | 评论:7 | 浏览:<span>602</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">正月初二 · 小雨</a></h2>
						<h4 class="mumit_list_time">2013年2月11日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/07.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">摄影</a><a href="">心情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:光影斑斓 | 评论:1 | 浏览:<span>209</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">一个人走走停停，一个人的夕阳西下</a></h2>
						<h4 class="mumit_list_time">2013年1月27日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/08.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">夕阳</a><a href="">摄影</a><a href="">人生</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:光影斑斓 | 评论:4 | 浏览:<span>414</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">曾经的过往………</a></h2>
						<h4 class="mumit_list_time">2013年1月11日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/09.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">摄影</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:光影斑斓 | 评论:3 | 浏览:<span>265</span> | <a href="">阅读全文 > </a></h6>	
				</div>

				
				
				
				<div class="pagebar">
					<a href=""><span class="par">«</span></a>
					<a href="" class="page"><span>1</span></a>
					<a href="" class="page"><span>2</span></a>
					<a href="" class="page"><span>3</span></a>
					<a href=""><span class="next">»</span></a>
				</div>

			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">最新留言</div>
					<div>
						<ul class="say">
							<li><a href="">我拍照喜欢拍姑娘</a></li>
							<li><a href="">好漂亮的网站</a></li>
							<li><a href="">我不想抄底，只想做一小段</a></li>
							<li><a href="">越长大越不认识自己</a></li>
							<li><a href="">文章不错非常喜欢</a></li>
							<li><a href="">你好</a></li>
							<li><a href="">时间飞猪</a></li>
							<li><a href="">好戏，值得一看</a></li>
							<li><a href="">人生何偿不是一场赌局</a></li>
							<li><a href="">黑白人生就是自己</a></li>
						</ul>
					</div>
				</div>
				
				<div class="slide">
					<div class="slide_title">分享到:</div>
					<div>
						<ul class="say share">
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
							<li>
								<div class="slide_icon">
									<a href="" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><a href=""><img src="/public/image/04.png" alt=""></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>