<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言本 - 你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" >首页</a></li>
			<li><a href="/life" title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="/circle" class="on" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">留言本</a></h2>
					</div>
					<div class="mumit_list_body">
						<div class="liuyan">
							<p class="liuyan_top">你我网，缘自 <a href=""><span>圈</span><span style="font-size:22px">圈</span><span>说</span></a>，记载着圈圈的生活过往，只为留住那份曾经的感动。</p>
						</div>
					</div>
					<ul class="msg">
						<li> 
							<img src="/public/image/01.jpeg" alt="">
							<span class="msg_name">腾蛙网</span><br>
							<span class="msg_small"> 发布于 2018-3-27 0:52:04  <span>回复该留言</span></span>
						</li>
					</ul>
					
				</div>
					
			
			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">搜索</div>
					<div>
						<form action="">
							<input type="text" class="search">
							<input type="submit" class="btnpost" value="提交">
						</form>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">按标签浏览</div>
					<div>
						<ul>
							<li><a href="">觉悟</a></li>
							<li><a href="">人生</a></li>
							<li><a href="">摄影</a></li>
							<li><a href="">爱情</a></li>
							<li><a href="">心情</a></li>
							<li><a href="">生活</a></li>
							<li><a href="">音乐</a></li>
							<li><a href="">规则</a></li>
							<li><a href="">夕阳</a></li>
							<li><a href="">寂寞</a></li>
							<li><a href="">过往</a></li>
							<li><a href="">西乡</a></li>
							<li><a href="">回忆</a></li>
							<li><a href="">旅行</a></li>
						</ul>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>