<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论列表 - 你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body id='cir'>


<div class="warp">
	<div class="header">
		<div class="caption">
			<h1 class="title"><a href="">圈圈说</a></h1>
			<div class="tagline">圈 圈 的 救 赎 ……</div>
		</div>
		<ul class="menus">
			<li><a href="/circle">首页</a></li>
			<li><a href="/comment">评论</a></li>
			<li><a href="/search">搜索</a></li>
			<li><a href="/login">登陆</a></li>
			<li style="float:right"><a href="">手机</a></li>
			<li style="float:right"><a href="">你我网</a></li>
		</ul>
	</div>
	<div class="contain">
		<div class="main">
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">博客树 : </span>Hi 我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2018-3-29 16:30:59</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">博客树 : </span>Hi 我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2018-3-28 16:30:59 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">春熙路 : </span>你好，申请友个链 www.465400.net（如若愿意可在小博上回复）<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2018-1-7 19:13:09 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">往事堪回首 : </span>电话多少？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 你是？</p>
				<p class="comment_time">2017-10-12 9:40:21</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">昵称太显眼 : </span>人生就是这样，要么骄傲的活下去，要么默默无闻的死去， 兄弟我也找回自己了。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 你是？</p>
				<p class="comment_time">2017-10-12 9:40:21</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">超越无限 : </span>哈哈哈哈哈哈<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2017-8-30 0:44:05 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">IEC : </span>23423 <a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2017-7-17 15:51:40 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">不值不购 : </span>http://www.buzhibugou.com/ 不值不购友链接加起加你了 <a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2017-5-5 17:55:56 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">心情簿 : </span>www.tymood.com 心情簿 已经加好贵站链接 谢谢 长期<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2017-1-16 17:01:18 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">奇迹 : </span>这不是在说我呢吗？<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 每个人都该这样</p>
				<p class="comment_time">2017-8-30 0:44:05 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">青春 : </span>青春网 http://qingchun.org/ 已做好贵站友链，希望添加。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2016-3-18 15:10:30 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">路易 : </span>心态不好是要出问题地。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2016-3-18 9:40:20 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">奇迹 : </span>如今望湖春的包子依然可以吃得到，而北大宾馆已不复存在…但在心里，那个地方似乎从未被遗忘过。呵呵 <a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 嗯，是吃的到，不过换地方了</p>
				<p class="comment_time">2017-8-30 0:44:05 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">束缚 : </span>自己也是地狱<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2015-11-19 9:24:54</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">水如尘 : </span>胡建人。。。。<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2015-11-17 20:02:02</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">奇迹 : </span>我也是，天天晚上看大片！免费的大片看的也累啊！！！ <a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 嗯嗯</p>
				<p class="comment_time">2015-11-10 7:09:43 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">路人 : </span>很喜欢下雪吗？<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2015-10-24 23:49:41</p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">人生的感悟者 : </span>好好努力吧年轻人 别再继续执着 有时候执着未必是好事 思想不要太固执 沉稳有时候是好事 但是犹豫不决可能会让你永远止步不前<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 嗯，受教了</p>
				<p class="comment_time">2017-8-30 0:44:05 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">奇迹 : </span>最终没有勇气去爱……<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_time">2015-5-26 20:30:24 </p>
			</div>
			<div class="comment_list">
				<p class="comment_text"><span class="comment_title">奇迹 : </span>我有，虽总说道不同不相为谋，但❤️在一起了…<a href="" class="comment_find">[查看]</a></p>
				<p class="comment_post"><span> 圈圈 : </span> 嗯嗯，也算不枉此生了</p>
				<p class="comment_time">2015-5-22 17:17:58</p>
			</div>

			
			<div class="pager">
				<span> 共计：1467 条记录 每页:20条</span>
				<span>1</span>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">></a>
				<a href="">74</a>
			</div>
		</div>


		<div class="sliber">
			<div class="widget">
				<div class="widget_img"><img src="/public/image/me.jpg" alt=""></div>
				<div class="wedget_about">
					<span class="about">about</span>
					<ul class="about_list">
						<li>我就是圈圈</li>
						<li>只有职业/投机交易</li>
						<li>互联网/销售/设计</li>
						<li>没有立场/没有信仰，</li>
						<li>有时候连教养也没有。</li>
						<li class="mail"><a href=""><img src="/public/image/07.png" alt=""></a></li>
						<li><span style="color:#006000">QQ：181699799</span></li>
					</ul>
				</div>
				<div class="pinglun">
					<h2>最新评论</h2>
					<ul class="comment">
						<li>
							<span>博客树:</span>
							<a href="">Hi  我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。</a>
						</li>
						<li>
							<span>博客树:</span>
							<a href="">Hi  我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。</a>
						</li>
						<li>
							<span>春熙路</span>
							<a href="">你好，申请友个链 www.465400.net（如若愿意可在小博上回复）</a>
						</li>
						<li>
							<span>往事堪回首:</span>
							<a href="">电话多少？？？？？？？？？？？？？？？？？？？？？</a>
						</li>
						<li>
							<span>昵称太显眼:</span>
							<a href="">人生就是这样，要么骄傲的活下去，要么默默无闻的死去， 兄弟我也找回自己了。 已回复</a>
						</li>
						<li>
							<span>超越无限</span>
							<a href="">哈哈哈哈哈哈</a>
						</li>
						<li>
							<span>IEC</span>
							<a href="">23423</a>
						</li>
						<li>
							<span>不值不购</span>
							<a href="">http://www.buzhibugou.com/ 不值不购友链接加起加你了</a>
						</li>
						<li>
							<span>心情簿</span>
							<a href="">www.tymood.com 心情簿 已经加好贵站链接 谢谢 长期</a>
						</li>
						<li>
							<span>奇迹</span>
							<a href="">这不是在说我呢吗？</a>
						</li>
					</ul>
				</div>

				<div class="pinglun">
					<h2>友情链接</h2>
					<ul class="link1">
						<li><a href="">交换友情链接</a></li>
						<br>
						<li>
						<a href="" class="rss"><img src="/public/image/pic.gif" alt=""></a>
						<a href="" class="rss"><img src="/public/image/rss.gif" alt=""></a>
						</li>
						<li>
							<ul class="say share">
							<li>
								<div class="slide_icon">
									<a href="javascript:" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
						</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main_footer"></div>
	</div>
</div>
	
</body>
</html>