<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" class="on">首页</a></li>
			<li><a href="/life" title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="/circle" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">最昂贵的行情</a></h2>
						<h4 class="mumit_list_time">2018年2月12日</h4>
					</div>
					<div class="mumit_list_body">
						<p>很多投机者都有抄底的不良习惯，这是一种人性贪婪的表现，即总想抓住全部行情，在行情底部建立战略性大仓位。</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">规则</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>36</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">自己原本什么样子？</a></h2>
						<h4 class="mumit_list_time">2018年1月13日</h4>
					</div>
					<div class="mumit_list_body">
						<p><a href=""><img src="/public/image/01.jpg" alt=""></a></p>
					</div>
					<h5 class="tags">Tags:<span><a href="">规则</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>36</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">平凡的日子里，我感到幸福，又感到绝望。</a></h2>
						<h4 class="mumit_list_time">2018年9月9日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/04.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:14 | 浏览:<span>564</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">第301天后。。。</a></h2>
						<h4 class="mumit_list_time">2018年6月27日</h4>
					</div>
					<div class="mumit_list_body">
						<p><a href=""><img src="/public/image/02.gif" alt=""></a></p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">人生</a><a href="">觉悟</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:18 | 浏览:<span>536</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">明心见性的一段对话</a></h2>
						<h4 class="mumit_list_time">2018年6月17日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						以下是我和妹子聊到房屋拆迁话题时的对话，希望我们能一直保持平常心，认真做自己……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">生活</a><a href="">人生</a><a href="">规则</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:35 | 浏览:<span>1536</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">人生何尝不是一场赌局</a></h2>
						<h4 class="mumit_list_time">2018年3月11日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						最近同事们沉陷红群无法自拔，作为一个旁观者还是挺开心的，再一次见证多巴胺和肾上腺素这些让人爽到爆的物质，在日常生活中扮演着魔鬼般的角色。人从来都不是理智的动物，总是感觉一切都在 ……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">心情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:15 | 浏览:<span>1799</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">2016年就一个字：戒！​</a></h2>
						<h4 class="mumit_list_time">2018年1月26日</h4>
					</div>
					<div class="mumit_list_body">
						<p>这条路小时候走了无数次，将来还会更多……
						<a href=""><img src="/public/image/02.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">摄影</a><a href="">生活</a><a href="">心情</a><a href="">人生</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>36</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">初冬，景如故</a></h2>
						<h4 class="mumit_list_time">2018年3月31日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						进入冬季，天很冷，时不时下点小雨，街上妖风阵阵，吹的人老想咳嗽，已经半个月没见阳光了。感觉自己就像对面楼顶的那棵树，每天随风摇摆，心无所住 …………
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">心情</a><a href="">人生</a><a href="">回忆</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:14 | 浏览:<span>169</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">从丁元英到叶子农</a></h2>
						<h4 class="mumit_list_time">2018年8月31日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						很久没更新了，不是没时间不想写，而是懒，懒得打字，懒得思考，时间就这样悄然而逝………………
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">爱情</a><a href="">人生</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:9| 浏览:<span>845</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">五十度灰的天空</a></h2>
						<h4 class="mumit_list_time">2018年4月30日</h4>
					</div>
					<div class="mumit_list_body">
						<p>此刻窗外的天空还蒙着一层50度的灰，春天迁徙过来家燕已经孵出了一窝小燕子，在外面叽叽喳喳的叫着，朝气蓬勃。可是到了秋天又有几只小燕子跟随妈妈南去呢，这不得而知，我只看见有的还没学会飞就不幸夭折，有的再夏季的狂风暴雨中无力挣扎，这就是命，是规律 ……
						<a href=""><img src="/public/image/03.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">生活</a><a href="">规则</a><a href="">人生</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:13 | 浏览:<span>606</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="pagebar">
					<a href=""><span class="par">«</span></a>
					<a href="" class="page"><span>1</span></a>
					<a href="" class="page"><span>2</span></a>
					<a href="" class="page"><span>3</span></a>
					<a href="" class="page"><span>4</span></a>
					<a href="" class="page"><span>5</span></a>
					<a href=""><span class="next">»</span></a>
				</div>

			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">搜索</div>
					<div>
						<form action="">
							<input type="text" class="search">
							<input type="submit" class="btnpost" value="提交">
						</form>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">按标签浏览</div>
					<div>
						<ul>
							<li><a href="">觉悟</a></li>
							<li><a href="">人生</a></li>
							<li><a href="">摄影</a></li>
							<li><a href="">爱情</a></li>
							<li><a href="">心情</a></li>
							<li><a href="">生活</a></li>
							<li><a href="">音乐</a></li>
							<li><a href="">规则</a></li>
							<li><a href="">夕阳</a></li>
							<li><a href="">寂寞</a></li>
							<li><a href="">过往</a></li>
							<li><a href="">西乡</a></li>
							<li><a href="">回忆</a></li>
							<li><a href="">旅行</a></li>
						</ul>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">最新留言</div>
					<div>
						<ul class="say">
							<li><a href="">我拍照喜欢拍姑娘</a></li>
							<li><a href="">好漂亮的网站</a></li>
							<li><a href="">我不想抄底，只想做一小段</a></li>
							<li><a href="">越长大越不认识自己</a></li>
							<li><a href="">文章不错非常喜欢</a></li>
							<li><a href="">你好</a></li>
							<li><a href="">时间飞猪</a></li>
							<li><a href="">好戏，值得一看</a></li>
							<li><a href="">人生何偿不是一场赌局</a></li>
							<li><a href="">黑白人生就是自己</a></li>
						</ul>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">友情链接</div>
					<div>
						<ul class="say">
							<li>
								<a href="">逆时针博客</a>
								<a href="">单车岁月</a>
								<a href="">立云图志</a>
							</li>
							<li>
								<a href="">青春</a>
								<a href="">高海鹏博客</a>
								<a href="">程晨爱浦</a>
							</li>
							<li>
								<a href="">博客大全</a>
								<a href="">灰常记忆</a>
								<a href="">随忘淡思</a>
							</li>
							<li>
								<a href="">黄志军博客</a>
								<a href="">多努力网</a>
								<a href="">春熙路</a>
							</li>
							<li></li>
							<li><a href="">谷歌地球相册</a></li>
							<li><a href="">交换友链请留言</a></li>
						</ul>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">分享到:</div>
					<div>
						<ul class="say share">
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
							<li>
								<div class="slide_icon">
									<a href="" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><a href=""><img src="/public/image/04.png" alt=""></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>