<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大生活-你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" >首页</a></li>
			<li><a href="/life" class="on" title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="/circle" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="/message" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">平凡的日子里，我感到幸福，又感到绝望。</a></h2>
						<h4 class="mumit_list_time">2018年9月9日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						<a href=""><img src="/public/image/04.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:14 | 浏览:<span>564</span> | <a href="">阅读全文 > </a></h6>	
				</div>

				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">人生何尝不是一场赌局</a></h2>
						<h4 class="mumit_list_time">2018年3月11日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						最近同事们沉陷红群无法自拔，作为一个旁观者还是挺开心的，再一次见证多巴胺和肾上腺素这些让人爽到爆的物质，在日常生活中扮演着魔鬼般的角色。人从来都不是理智的动物，总是感觉一切都在 ……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">心情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:15 | 浏览:<span>1799</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">2016年就一个字：戒！​</a></h2>
						<h4 class="mumit_list_time">2018年1月26日</h4>
					</div>
					<div class="mumit_list_body">
						<p>这条路小时候走了无数次，将来还会更多……
						<a href=""><img src="/public/image/02.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">摄影</a><a href="">生活</a><a href="">心情</a><a href="">人生</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>36</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">初冬，景如故</a></h2>
						<h4 class="mumit_list_time">2018年3月31日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						进入冬季，天很冷，时不时下点小雨，街上妖风阵阵，吹的人老想咳嗽，已经半个月没见阳光了。感觉自己就像对面楼顶的那棵树，每天随风摇摆，心无所住 …………
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">心情</a><a href="">人生</a><a href="">回忆</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:14 | 浏览:<span>169</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">见路不走，清明</a></h2>
						<h4 class="mumit_list_time">2018年4月1日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						无论是面对厄运还是幸运都应该保持平常心，喜怒伤身，情绪伤神，执念误一生。医生笑着说这是他从医以来，见到的为数不多的案例，可谓是奇迹，而我的心却很平静，至此才真正领悟到了无为和不争。
						<a href=""><img src="/public/image/05.jpg" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">过往</a><a href="">心情</a><a href="">摄影</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:大生活 | 评论:4| 浏览:<span>493</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">山花烂漫的季节，我们各自冷暖自知</a></h2>
						<h4 class="mumit_list_time">2018年2月14日</h4>
					</div>
					<div class="mumit_list_body">
						<p>时间久了，就对节日渐渐的没有了喜悦感，反而会更加是适应这种状态，在无声无息的岁月里挣扎着，徘徊着，就像一位弱视者伸着手步履蹒跚的向前走着，眼前有光和影子，却始终也看不清……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">过往</a><a href="">回忆</a><a href="">心情</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:5 | 浏览:<span>339</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">放下，放不下</a></h2>
						<h4 class="mumit_list_time">2018年12月18日</h4>
					</div>
					<div class="mumit_list_body">
						<p>记忆就像望湖春的包子，时隔经年还是同样的味道 ……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">心情</a><a href="">过往</a><a href="">生活</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:11 | 浏览:<span>279</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">心乱无题</a></h2>
						<h4 class="mumit_list_time">2018年10月18日</h4>
					</div>
					<div class="mumit_list_body">
						<p>当时就被眼前这一幕感动了，我缓慢的走过，然后一路沉默……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">心情</a><a href="">回忆</a><a href="">生活</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:5 | 浏览:<span>339</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">旅行，一件没有意义的事</a></h2>
						<h4 class="mumit_list_time">2018年10月2日</h4>
					</div>
					<div class="mumit_list_body">
						<p>旅行本身没有意义，就像读书，学习，提问，交流一样，这些事情本身都没有意义……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">人生</a><a href="">觉悟</a><a href="">旅行</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:11 | 浏览:<span>219</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">点点滴滴</a></h2>
						<h4 class="mumit_list_time">2018年2月14日</h4>
					</div>
					<div class="mumit_list_body">
						<p>连绵的秋雨下了近一个月了，我喜欢这个季节这样的天气，整个城市在朦胧的烟雨中显得格外清晰。
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">心情</a><a href="">回忆</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:3 | 浏览:<span>138</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				
				<div class="pagebar">
					<a href=""><span class="par">«</span></a>
					<a href="" class="page"><span>1</span></a>
					<a href="" class="page"><span>2</span></a>
					<a href="" class="page"><span>3</span></a>
					<a href="" class="page"><span>4</span></a>
					<a href="" class="page"><span>5</span></a>
					<a href=""><span class="next">»</span></a>
				</div>

			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">最新留言</div>
					<div>
						<ul class="say">
							<li><a href="">我拍照喜欢拍姑娘</a></li>
							<li><a href="">好漂亮的网站</a></li>
							<li><a href="">我不想抄底，只想做一小段</a></li>
							<li><a href="">越长大越不认识自己</a></li>
							<li><a href="">文章不错非常喜欢</a></li>
							<li><a href="">你好</a></li>
							<li><a href="">时间飞猪</a></li>
							<li><a href="">好戏，值得一看</a></li>
							<li><a href="">人生何偿不是一场赌局</a></li>
							<li><a href="">黑白人生就是自己</a></li>
						</ul>
					</div>
				</div>
				
				<div class="slide">
					<div class="slide_title">分享到:</div>
					<div>
						<ul class="say share">
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
							<li>
								<div class="slide_icon">
									<a href="" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><a href=""><img src="/public/image/04.png" alt=""></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>