<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>圈圈说 - 你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body id='cir'>

<div class="warp">
	<div class="header">
		<div class="caption">
			<h1 class="title"><a href="">圈圈说</a></h1>
			<div class="tagline">圈 圈 的 救 赎 ……</div>
		</div>
		<ul class="menus">
			<li><a href="/circle">首页</a></li>
			<li><a href="/comment">评论</a></li>
			<li><a href="/search">搜索</a></li>
			<li class="login"><a href="/login">登陆</a></li>
			<li style="float:right"><a href="">手机</a></li>
			<li style="float:right"><a href="">你我网</a></li>
		</ul>
	</div>
	<div class="contain">
		<div class="main">
			<div class="main_list">
				<p class="main_text">这是一个很长很长的梦，梦中的人和事足以用一生的时间来怀念。</p>
				<p class="main_time">2018-3-25 6:55:12 通过网页</p>
				<p class="nav"><a href="">评论(1)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">从前，我认定的事情都能做好，朋友们都彼此信任，生活也安静惬意。如今，想做成一件事情却如此的难，所有的阻力都来自于最亲近的人，当理想被磨灭，奋斗的热情随着冷漠的眼神逐渐退却，我只能沉默，只能蝇营狗苟，随波逐流。</p>
				<p class="main_time">2018-2-1 23:32:25 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">圈圈又更新文章了
					<a href="" class="shu"><<自己本来什么样？>></a><br>
					<a href=""><img src="/public/image/01.jpg" width="230px" alt=""></a><br>
					2010年5月3日12时27分，略阳灵崖寺。
				</p>
				<p class="main_time">2018-1-14 0:09:17 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">2009年12月26日21时48分，那时的汉中还很冷，那时的北大街还有个北大宾馆。</p>
				<p class="main_time">2018-1-13 22:12:32 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">一年四季中我偏爱冬天，因为大雪纷飞中，伊人的笑容是这世间最美的风景</p>
				<p class="main_time">2018-1-4 9:46:32 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">不逆势，不抄底，不触顶。耐心等待！</p>
				<p class="main_time">2018-1-4 9:46:32 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">永远不要迷信通过猜测数据结果来预测未来行情的趋势，这是条通往地狱的不归路</p>
				<p class="main_time">2017-12-21 0:21:01 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">严格止损！严格止损！严格止损！</p>
				<p class="main_time">2017-11-30 23:18:43 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">每当讨论一些话题的时候，浅薄的人总是先入为主的讲一些利己的事情，就不能实事求是吗</p>
				<p class="main_time">2017-10-23 17:27:26 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">天亮了，起床。</p>
				<p class="main_time">2017-10-22 6:52:26 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">又要开始写了，找回自己，人生不能如此荒弃</p>
				<p class="main_time">2017-9-9 23:59:57 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">煎熬</p>
				<p class="main_time">2017-5-14 21:34:33 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">2017.02.19.17:53.boy.3kg.51cm</p>
				<p class="main_time">2017-2-20 1:14:34 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">不要在你陷入一种困境之时简单的离开了事。选择另一种职业开始的原因，从来不应该简单的是我想赚更多钱，而是你看到了一个领域或行业未被满足的需求和机会。</p>
				<p class="main_time">2017-2-6 10:30:08 通过手机</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">向来心是看客心，奈何人是剧中人。</p>
				<p class="main_time">2017-1-10 15:01:01 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">当夫妻间信任的程度还不如一个普通朋友来的实在，这样的婚姻能走多远呢？</p>
				<p class="main_time">2016-12-28 19:26:02 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">钱的事免谈！！！</p>
				<p class="main_time">2016-12-28 19:24:41 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">夫以色事人者，色衰而爱弛，爱弛则恩绝</p>
				<p class="main_time">2016-12-17 10:20:29 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">树叶从地上飘回枝桠，瀑布从湖里倒流回悬崖，迁徙的候鸟群从远方归来，太阳从西边升起落向东方，我交回辞职申请重新回到那个熟悉的办公室　……</p>
				<p class="main_time">2016-12-16 15:00:45 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="main_list">
				<p class="main_text">一切要以数据、数据、数据说话！！！</p>
				<p class="main_time">2016-10-24 15:13:09 通过网页</p>
				<p class="nav"><a href="">评论(0)</a></p>
			</div>
			<div class="pager">
				<span> 共计：1467 条记录 每页:20条</span>
				<span>1</span>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">></a>
				<a href="">74</a>
			</div>
		</div>


		<div class="sliber">
			<div class="widget">
				<div class="widget_img"><img src="/public/image/me.jpg" alt=""></div>
				<div class="wedget_about">
					<span class="about">about</span>
					<ul class="about_list">
						<li>我就是圈圈</li>
						<li>只有职业/投机交易</li>
						<li>互联网/销售/设计</li>
						<li>没有立场/没有信仰，</li>
						<li>有时候连教养也没有。</li>
						<li class="mail"><a href=""><img src="/public/image/07.png" alt=""></a></li>
						<li><span style="color:#006000">QQ：181699799</span></li>
					</ul>
				</div>
				<div class="pinglun">
					<h2>最新评论</h2>
					<ul class="comment">
						<li>
							<span>博客树:</span>
							<a href="">Hi  我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。</a>
						</li>
						<li>
							<span>博客树:</span>
							<a href="">Hi  我是博客树，收录了几个优质独立博客，今天被您的博客所吸引，将您收录于博客树 blogs.org.cn中。 博客树：十年树木，百年树人。 博客树致力于收录十年优质博客。</a>
						</li>
						<li>
							<span>春熙路</span>
							<a href="">你好，申请友个链 www.465400.net（如若愿意可在小博上回复）</a>
						</li>
						<li>
							<span>往事堪回首:</span>
							<a href="">电话多少？？？？？？？？？？？？？？？？？？？？？</a>
						</li>
						<li>
							<span>昵称太显眼:</span>
							<a href="">人生就是这样，要么骄傲的活下去，要么默默无闻的死去， 兄弟我也找回自己了。 已回复</a>
						</li>
						<li>
							<span>超越无限</span>
							<a href="">哈哈哈哈哈哈</a>
						</li>
						<li>
							<span>IEC</span>
							<a href="">23423</a>
						</li>
						<li>
							<span>不值不购</span>
							<a href="">http://www.buzhibugou.com/ 不值不购友链接加起加你了</a>
						</li>
						<li>
							<span>心情簿</span>
							<a href="">www.tymood.com 心情簿 已经加好贵站链接 谢谢 长期</a>
						</li>
						<li>
							<span>奇迹</span>
							<a href="">这不是在说我呢吗？</a>
						</li>
					</ul>
				</div>

				<div class="pinglun">
					<h2>友情链接</h2>
					<ul class="link1">
						<li><a href="">交换友情链接</a></li>
						<br>
						<li>
						<a href="" class="rss"><img src="/public/image/pic.gif" alt=""></a>
						<a href="" class="rss"><img src="/public/image/rss.gif" alt=""></a>
						</li>
						<li>
							<ul class="say share">
							<li>
								<div class="slide_icon">
									<a href="javascript:" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
						</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main_footer"></div>
	</div>
</div>

<div class="model" id="model">
	<div class="model_window">
		<div class="model_header">
			<div class="model_title">登陆到微博</div>
			<span class="model_close"><img src="/public/image/close.gif" alt=""></span>
		</div>
		<div class="model_comtent">
			<form action="">
				<label for="">欢迎回来</label>
				<input type="text"><br>
				<input type="button" value="登陆" class="btn">
			</form>
		</div>
	</div>
</div>

<script>
window.onload=function(){
	$('.login').click(function(event) {
		$('#model').show();
		alert(123)
	});
}
	
</script>
	
</body>
</html>