<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言本 - 你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" >首页</a></li>
			<li><a href="/life" title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="/circle" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="/message" class="on" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">留言本</a></h2>
					</div>
					<div class="mumit_list_body">
						<div class="liuyan">
							<p class="liuyan_top">你我网，缘自 <a href=""><span>圈</span><span style="font-size:22px">圈</span><span>说</span></a>，记载着圈圈的生活过往，只为留住那份曾经的感动。</p>
						</div>
					</div>
					<ul class="msg">
						<li> 
							<img src="/public/image/01.jpeg" alt="">
							<span class="msg_name">腾蛙网</span><br>
							<span class="msg_small"> 发布于 2018-3-27 0:52:04  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">好漂亮的网站</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/05.png" alt="">
							<span class="msg_name">徐良</span><br>
							<span class="msg_small"> 发布于 2018-3-16 11:03:36  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">你好</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">股票入门知识</span><br>
							<span class="msg_small"> 发布于 2018-3-6 10:16:01  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">三月你好</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/02.jpeg" alt="">
							<span class="msg_name">逆时针</span><br>
							<span class="msg_small"> 发布于 2018-2-21 22:36:06  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">新年快乐</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">ss</span><br>
							<span class="msg_small"> 发布于 2018-2-8 14:36:06  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">萨达大地</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">梁兴建</span><br>
							<span class="msg_small"> 发布于 2018-2-3 21:20:44  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">路过支持一下</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">萨芬</span><br>
							<span class="msg_small"> 发布于 2018-1-22 11:16:44  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">来看一下</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">来语直搜</span><br>
							<span class="msg_small"> 发布于 2018-1-16 23:36:32  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">
						 	【给博主的一封简信】
						 	<br>
						 	每个独立博客的背后都有一位用心经营的博主，优秀的博客应当被铭记！来语直搜针对独立博客发起“孤岛直达”计划，为精品博客特别提供搜索直达服务（搜索 博客名 直达博客主页），喜欢你博客的人不必在茫茫导航中寻找链接。由于独立博客常出现变动，请博主提交站点前先确认满足以下条件，提交后48小时内进行内部审核，届时会考虑博客综合情况，故提交不等同于审核通过。
						 	<br>
						 	站点提交条件：
						 	<br>
						 	1.博客有明确、特异、长期稳定的博客站名，不随意变更站名，如有变更时主动重新提交站点；
						 	<br>
						 	2.博客坚持以原创为主，非原创内容不超过全站30%；
						 	<br>
						 	3.博客已在友链明显位置添加来语直搜主页链接；
						 	<br>
						 	4.博主Email请留常用邮箱，以便需要时沟通联系。
						 	<br>
						 	站点提交地址：<br>
						 	http://www.zhisou.cc/linksubmit.php
						</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">淘气天尊新浪博客</span><br>
							<span class="msg_small"> 发布于 2017-11-24 9:29:37  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">在下初到贵宝地，望大家多多关照啊，</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">牛腩</span><br>
							<span class="msg_small"> 发布于 2017-8-23 15:02:37  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">
						网站做的很漂亮！可以换个友情链接吗？http://www.greenwheelcv.com/
						<ul class="msg">
							<li> 
								<img src="/public/image/06.png" alt="">
								<span class="msg_name">520fanhao.com</span><br>
								<span class="msg_small"> 发布于 2017-9-25 10:18:37  <a href="">回复该留言</a></span>
							</li>
							<li class="msgart">有幸路过，顶一下！http://520fanhao.com</li>
						</ul>
						<ul class="msg">
							<li> 
								<img src="/public/image/06.png" alt="">
								<span class="msg_name">wejob</span><br>
								<span class="msg_small"> 发布于 2017-10-11 15:02:37  <a href="">回复该留言</a></span>
							</li>
							<li class="msgart">路过看看</li>
						</ul>
						</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">夕瑶</span><br>
							<span class="msg_small"> 发布于 2017-7-17 15:02:37  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">网站很漂亮，观点很好，路过交个朋友，http://www.yinhuiseo.com/</li>
					</ul>
					<ul class="msg">
						<li> 
							<img src="/public/image/06.png" alt="">
							<span class="msg_name">深夜小学徒</span><br>
							<span class="msg_small"> 发布于 2017-5-17 15:02:37  <a href="">回复该留言</a></span>
						</li>
						<li class="msgart">感谢分享，博主加油！！！</li>
					</ul>
					<ul class="msg">
						<li class="msgpage"><a href=""><span>下一页评论 »</span></a></li>
					</ul>
					<div class="post">
						<p class="post_top">发表留言:</p>
						<form action="" class="self">
							<p><input type="text" class=""><label for="inpName">名称（必填）</label></p>
							<p><input type="text" class=""><label for="inpName">邮箱</label></p>
							<p><input type="text" class=""><label for="inpName">网站链接</label></p>
							<p><input type="text" class=""><label for="inpName">验证（必填）</label></p>
							<p><label for="">正文（必填）(留言最长字数:1000)</label></p>
							<p>
								<textarea name="" id="" cols="30" rows="10" style="width:628px"></textarea>
							</p>
							<p>
								<input type="button" value="提交" class="submit">
								<input type="checkbox" class="check">
								<label for="">记住我,下次回复时不用重新输入个人信息</label>
							</p>
							<p class="postbottom">◎欢迎参与讨论，请在这里发表您的看法、交流您的观点。</p>
						</form>
					</div>


				</div>
					
			
			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">搜索</div>
					<div>
						<form action="">
							<input type="text" class="search">
							<input type="submit" class="btnpost" value="提交">
						</form>
					</div>
				</div>
				<div class="slide">
					<div class="slide_title">按标签浏览</div>
					<div>
						<ul>
							<li><a href="">觉悟</a></li>
							<li><a href="">人生</a></li>
							<li><a href="">摄影</a></li>
							<li><a href="">爱情</a></li>
							<li><a href="">心情</a></li>
							<li><a href="">生活</a></li>
							<li><a href="">音乐</a></li>
							<li><a href="">规则</a></li>
							<li><a href="">夕阳</a></li>
							<li><a href="">寂寞</a></li>
							<li><a href="">过往</a></li>
							<li><a href="">西乡</a></li>
							<li><a href="">回忆</a></li>
							<li><a href="">旅行</a></li>
						</ul>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>