<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>如是观 - 你我网</title>
	<link rel="stylesheet" href="/public/css/mystyle.css">
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<header>
		<div class="contain">
			<h1 class="logo"><a href=""><img src="/public/image/logo.gif" alt=""></a></h1>
		</div>
		<ul class="nav">
			<li><a href="/" >首页</a></li>
			<li><a href="/life"  title="感悟生活点滴">大生活</a></li>
			<li><a href="/bright" title="光与影的艺术">光影斑斓</a></li>
			<li><a href="/view" class="on" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观">如是观</a></li>
			<li><a href="" title="还是以前的圈圈微博！">圈圈说</a></li>
			<li><a href="/circle" title="沟通从这里开始">留言本</a></li>
		</ul>
	</header>
	<div class="middle">
		<div class="middel_contain">
			<div class="middel_contain_left">
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">最昂贵的行情</a></h2>
						<h4 class="mumit_list_time">2018年2月12日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						很多投机者都有抄底的不良习惯，这是一种人性贪婪的表现，即总想抓住全部行情，在行情底部建立战略性大仓位。
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">规则</a><a href="">觉悟</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>45</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">自己本来是什么样子？</a></h2>
						<h4 class="mumit_list_time">2018年1月13日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							<a href=""><img src="/public/image/01.jpg" title="2010年5月3日12时27分，摄于略阳县灵崖寺。" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">人生</a><a href="">生活</a><a href="">过往</a><a href="">觉悟</a><a href="">摄影</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:9 | 浏览:<span>117</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">第301天后……</a></h2>
						<h4 class="mumit_list_time">2018年1月13日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							<a href=""><img src="/public/image/02.gif" title="1970258334.gif" alt=""></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">人生</a><a href="">觉悟</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:18 | 浏览:<span>534</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">明心见性的一段对话</a></h2>
						<h4 class="mumit_list_time">2018年3月17日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							以下是我和妹子聊到房屋拆迁话题时的对话，希望我们能一直保持平常心，认真做自己……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">生活</a><a href="">人生</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:35 | 浏览:<span>1990</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">从丁元英到叶子农</a></h2>
						<h4 class="mumit_list_time">2018年8月31日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							很久没更新了，不是没时间不想写，而是懒，懒得打字，懒得思考，时间就这样悄然而逝……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">爱情</a><a href="">人生</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:9 | 浏览:<span>845</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">五十度灰的天空</a></h2>
						<h4 class="mumit_list_time">2018年4月30日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						此刻窗外的天空还蒙着一层50度的灰，春天迁徙过来家燕已经孵出了一窝小燕子，在外面叽叽喳喳的叫着，朝气蓬勃。可是到了秋天又有几只小燕子跟随妈妈南去呢，这不得而知，我只看见有的还没学会飞就不幸夭折，有的再夏季的狂风暴雨中无力挣扎，这就是命，是规律 ……
							<a href=""><img src="/public/image/03.jpg" alt="" title="你我网  五十度的天空"></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">生活</a><a href="">规则</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:13 | 浏览:<span>606</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">神雕侠侣不过只是男欢女爱罢了</a></h2>
						<h4 class="mumit_list_time">2018年2月20日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							生是死的开始，死是生的延续，无论是什么状态都无法长久，不执著才是大智慧。而这些杨过连门槛都还碰不到，仅仅只是看破名利而已，他与小龙女的交集也只停留在男欢女爱罢了。看来但凡是人，无论怎样的修为，都逃不过一个情字……
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">人生</a><a href="">爱情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:14 | 浏览:<span>576</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">一场梦而已。</a></h2>
						<h4 class="mumit_list_time">2018年1月20日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							现在是凌晨五时，我从梦中惊醒，梦里的无奈与现实极其相似，仿佛就是现实生活的延续。梦中的我们是那么的自由，想哭就哭，想笑就笑。无所谓世俗的枷锁，更没有不好的情绪，平时不愿说的话，不方便做的事，在这里就这么自然而然的发生了。
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">生活</a><a href="">回忆</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:15 | 浏览:<span>419</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">To be or not to be？</a></h2>
						<h4 class="mumit_list_time">2014年12月23日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
						一直停在原地不往前走的人是可耻的，尤其是你知道自己停在一个错误的地方。偶然间看到这句话深有感触，我就是一直停在错误的地方的那个人，的确很可耻。
							<a href=""><img src="/public/image/10.jpg" alt="" title="2014年最后一缕阳光"></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">生活</a><a href="">摄影</a><a href="">过往</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:22 | 浏览:<span>355</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				<div class="mumit_list">
					<div class="mumit_list_top">
						<h2 class="mumit_list_title"><a href="">离别</a></h2>
						<h4 class="mumit_list_time">2014年8月270日</h4>
					</div>
					<div class="mumit_list_body">
						<p>
							<a href=""><img src="/public/image/11.jpg" alt="" title="离别"></a>
						</p>
					</div>
					<h5 class="tags">Tags:<span><a href="">觉悟</a><a href="">心情</a></span> </h5>
					<h6 class="mumit_list_footer">发布:圈圈 | 分类:如是观 | 评论:4 | 浏览:<span>200</span> | <a href="">阅读全文 > </a></h6>	
				</div>
				

				
				
				
				<div class="pagebar">
					<a href=""><span class="par">«</span></a>
					<a href="" class="page"><span>1</span></a>
					<a href="" class="page"><span>2</span></a>
					<a href="" class="page"><span>3</span></a>
					<a href="" class="page"><span>4</span></a>
					<a href=""><span class="next">»</span></a>
				</div>

			</div>
			<!--右侧 -->
			<div class="middel_contain_right">
				<div class="slide">
					<div class="slide_title">最新留言</div>
					<div>
						<ul class="say">
							<li><a href="">我拍照喜欢拍姑娘</a></li>
							<li><a href="">好漂亮的网站</a></li>
							<li><a href="">我不想抄底，只想做一小段</a></li>
							<li><a href="">越长大越不认识自己</a></li>
							<li><a href="">文章不错非常喜欢</a></li>
							<li><a href="">你好</a></li>
							<li><a href="">时间飞猪</a></li>
							<li><a href="">好戏，值得一看</a></li>
							<li><a href="">人生何偿不是一场赌局</a></li>
							<li><a href="">黑白人生就是自己</a></li>
						</ul>
					</div>
				</div>
				
				<div class="slide">
					<div class="slide_title">分享到:</div>
					<div>
						<ul class="say share">
							<li><img height="110px" title="微信扫一扫，关注圈圈的最新消息" src="/public/image/weixin.jpg" alt=""></li>
							<li>
								<div class="slide_icon">
									<a href="" class="more" ></a>
									<a href="" class="weixin" title="分享到微信"></a>
									<a href="" class="kongjian" title="分享到QQ空间"></a>
									<a href="" class="tieba" title="分享到贴吧"></a>
									<a href="" class="weibo" title="分享到微博"></a>
								</div>
							</li>
							<li><a href=""><img src="/public/image/04.png" alt=""></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer>
		<div class="footer_contain">
			<h3>
			   <a href=""><img src="/public/image/pic.gif" alt=""></a>
			   　陕ICP备11002139号-1
			</h3>
			<h4>Powered By <a href="">Z-Blog</a>　本站遵循<a href=""> CC BY-NC-ND 3.0 CN协议 </a></h4>
		</div>	
	</footer>
</body>
</html>